@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap');

html {
  /* Colors */
  --primary-clr: #31986A;
  --dark-clr: #0B0D17;
  --light-clr: #E7E7E7
  --accent-clr: #4A90E2

  /* Fonts */
  --fs-title: 3rem;
  --fs-description: 1.5rem;
  --fs-nav-link: 1.125rem;
  --fs-reg: 1rem;

  --ff-reg: 'Barlow Condensed', sans-serif;
  --ff-title: 'Bellefair', serif;
  --fw-reg: 400;
  --fw-bold: 700;

  /* Spacing */
  --margin: 0.5em;
  --nav-height: 6.25em;
}

/* Set core body defaults */

body {
  font-family: var(--ff-reg);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: var(--dark-clr);
  color: var(--light-clr);
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  /* display: block; */
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
input {
  outline: none;
}

/* Typography */
.title {
  font-family: var(--ff-title);
  font-size: var()
}

/* Logos */
.logo {
  max-height: 3.75em;
}